<html>

<header>

  <div class="navbars">
    <span class="restaurant-name"><b>Clawsome Eats</b></span>
    <!-- <h1 class="restaurant-name">Clawsome Eats</h1> -->
    <div class="navbar-nav">
        <a class="navbar-Food" href="/foods">Menu</a>
        <a class="navbar-Food" href="/popular">Most Popular</a>
        <!-- <a class="navbar-Popular" href="/">Features</a>  -->
        <a class="navbar-Features" href="/checkout">Checkout</a>
        <% if (user) { %>
          <div class="navbar-navee">
          <form class="form-inline" action="/logout" method="POST">
            <span style="margin-right: 1em">Logged In As: <%= user.name %>!</span>
            <button type="submit">Logout</button>
          </form>
          </div>
          <% } else { %>
          <div class="navbar-navee">
            <a href="/login">Login</a>
          </div>
        <% } %>
    </div>

  </div>
</header>

</html>
