<html>
  <header>
    <nav
      class="navbar navbar-expand-md navbar-dark"
      style="background-color: #cf6f01; padding: 0.5em"
    >
      <a
        style="
          font-family: 'Dancing Script', cursive;
          font-size: 1.5em;
          padding-left: 0.5em;
        "
        class="navbar-brand"
        href="/"
        >Twilight <span class="fas fa-utensils"></span> Place</a
      >

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse"
        style="padding-left: 1em"
        id="navbarSupportedContent"
      >
      <div class="navbar-nav my-2 my-lg-0">
        <a class="nav-item nav-link mr-sm-2" href="/search">Search Menu</a>
        <a class="nav-item nav-link mr-sm-2" href="/map"
          ><i class="fas fa-location-arrow"></i
        ></a>
      </div>
    </nav>
  </header>
</html>
