DB_HOST=localhost
DB_USER=labber
DB_PASS=labber
DB_NAME=midterm
# Uncomment and set to true for Heroku
# DB_SSL=true if heroku
DB_PORT=5432
TWILIO_ACCOUNT_SID=get from twilio console
TWILIO_AUTH_TOKEN=get from twilio console
TWILIO_PHONE_FROM=get from twilio console
OWNER_PHONE=+123456789
OWNER_GMAIL=owner@gmail.com
OWNER_PASSWORD=ownerpassword