
.placeorder {
  padding: 1em;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border: 2px solid #62cade;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Source Sans Pro";
}
.placeorder > h1 {
  width: 100%;
  border-bottom:1px solid red;
  display:inline-block;
}

.itemsList {
  width: 95%;
}

.food_id {
  border: transparent;
  width: 20px;
}

.itemInfo {
  width: 70%;
  font-size: 20px;
}

body {
  margin:unset;
}

.qty {
  font-size: 16px
}

.qty-price {
  width: 100px;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 20px;
  align-items: center;
  justify-content: space-between;
}

.qtyControl {
  width: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  justify-content: space-between;
}

.qtyDec {
  font-size: 23px;
}

.qtyInc {
  font-size: 23px;
}

.price-data {
  font-size: 20px;
  font-weight: bold;
}

.deleteItem {
  background-color: red;
  color: #FFFF;
  height: 30px;
  width: 90px;
  margin-right: 1em;
  border-radius: 4px;
  font-size: 15px;
}

.qtyControl {
  width: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
}

.qty {
  height:20px;
  width: 20px;
  text-align: center;
}

.note {
  margin-top: 3em;
  margin-left: 5em;
  width: 100%;
}

.note > textarea {
  width: 40%;
  resize: none;
  height: 80px;
  font-size: 17px;
}

.receipt {
  font-family: "Source Sans Pro";
  text-align: center;
  width: 100%;
  margin-top: 3em;
  padding-top: 2em;
  border-top: 1px solid #aaabad;
  padding-left: auto;
  padding-right: auto;
}

.total {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 60%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
}

.totals {
  font-weight: bold;
}

.ordersubmit {
  margin-top: 3em;
  border-radius: 4px;
  background-color: #0c72f7;
  font-size: 20px;
  width: 40%;
  height:40px;
  color: #FFFFFF;
}

