body {
  margin: 0;
  padding: 0;

  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://cdn.dribbble.com/users/29678/screenshots/6020872/045_lobster_4x.png?compress=1&resize=1600x1200");
  background-size: 88%;
  font-family: sans-serif;


}


.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 50px 50px;
  border-radius: 10px;
}

input{
  font-size: 27px;
  height: 33px;
  width: 327px;
}
