header{
  display: flex;
  width: 100%;
  margin:auto;
  height: 150px;
  color:#FFFFFF;
  background-color: orangered;
  align-items: center;
  justify-content: center;
  opacity: 0.75;
  font-size: 30px;
}
body{
  background-image: url("../images/background.jpg");
  background-size: cover;
  height: 100%;
}
form{
  background-color: whitesmoke;
  opacity: 0.875;
}
table{
  width: 90%;
}
.table{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.placeorder {
  padding: 1em;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border: 2px solid #62cade;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Source Sans Pro";
}
.placeorder > h1 {
  width: 90%;
  border-bottom:5px solid red;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;
}

.itemsList {
  width: 100%;

}

.itemInfo {
  width: 70%;
  font-size: 20px;
}

select {
  height: 50px;
  width: 200px;
  font-size: 20px;
}

.price-data {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.qty {
  height:20px;
  width:12%;
  text-align: center;
}

.notes{
  width: 90%;
  font-size: 22px;
  color:black;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  border-bottom:5px solid red;
}
.note {
  margin-left: 5em;
  width: 100%;
}

.note > textarea {
  width: 40%;
  resize: none;
  height: 80px;
  font-size: 17px;
}

.receipt {
  font-family: "Source Sans Pro";
  text-align: center;
  width: 100%;
  margin-top: 3em;
  padding-top: 2em;
  border-top: 1px solid #aaabad;
  padding-left: auto;
  padding-right: auto;
}

.total {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 60%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
}

.totals {
  font-weight: bold;
}

.confirm {
  margin-top: 3em;
  margin-bottom: 2em;
  border-radius: 4px;
  background-color: #0c72f7;
  font-size: 22px;
  width: 40%;
  height:50px;
  color: #FFFFFF;
}



.restaurant-name{
  font-family: 'Dancing Script', cursive;
  margin-left: 30px;
  font-size: 75px;
  color:black;
  font-weight: bold;
}
